node_modules/
.DS_Store
src/.DS_Store
src/assets/.DS_Store
build/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.DS_Store
src/assets/.DS_Store
