.container {
    display: flex;
    margin-top: 50px;
    
  }
  
  .box {
    flex: 1 1 0px;
    transition: transform 300ms ease 100ms;
    margin: 2%;
  }
  
  .box:after {
    content: "";
    display: block;
    padding-top: 30%;
  }
  
  .container:hover .box {
    transform: translateX(-25%);
  }
  
  .box:hover ~ .box {
    transform: translateX(25%);
  }
  
  .container .box:hover {
    transform: scale(1.5);
  }
  
  body {
    overflow: scroll;
  }
  